* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  width: 100%;
  height: 100vh;
  /* Garante que o body ocupe toda a altura da viewport */
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* Alinha o conteúdo ao topo */
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  /* Permite rolagem vertical */
}

h1 {
  font-style: italic;
}

#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Alinha o conteúdo ao topo */
  width: 100%;
  min-width: 800px;
  margin: auto;
  background-color: #1a1a1a;
  flex-grow: 1;
  /* Permite que o contêiner cresça para ocupar o espaço disponível */
}

#first-box {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}

form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#first-box input {
  height: 40px;
  width: 100%;
  color: #FFF;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #2d224c;
  background-color: #1a1a1a;
  padding: 10px;
}

#first-box button {
  height: 40px;
  padding: 10px;
  color: #FFF;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-style: none;
  background-color: #2d224c;
  transition: all 0.3s ease;
}

#first-box button:hover {
  cursor: cell;
  background-color: #6366f1;
  transform: translateY(-2px);
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */

}

#task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* Alinha as tasks ao topo */
  gap: 30px;
  padding: 15px;
  background-color: #2d224c;
  width: 50%;
  border-radius: 10px;
  max-height: 400px;
  /* Limite de altura para o container */
  overflow-y: auto;
  /* Permite rolagem interna */
}

#register {
  background-color: #FFF;
}

.task-member {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  word-wrap: break-word;
}

.task-member button {
  margin-left: auto;
  height: 40px;
  padding: 10px;
  color: #FFF;
  border: 1px solid #6366f1;
  border-radius: 10px;
  background-color: #1a1a1a;
  transition: all 0.3s ease;
}

span button:hover {
  cursor: cell;
  background-color: green;
  transform: translateY(-2px);
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}

footer {
  display: flex;
  height: 30px;
  margin: 20px 0;
}

footer a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFF;
  /* margin: 10px 0; */
  transition: all 0.3s ease;

}

footer a:hover {
  cursor: cell;
  transform: scale(1.1);
}

footer img {
  margin-right: 20px;
}

/* Responsivity */
@media (max-width: 900px) {
  #app-container {
    min-width: 100%;
  }

  #first-box {
    width: 90%;
  }

  #task-list {
    width: 90%;
  }

  .task-member {
    width: 80%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .task-member button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}